h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(17, 15, 15);
    border-radius: 5px;
    box-shadow: 1px 2px 3px 4px rgba(0,0,0,0.2);
    width: 300px;
    text-align: center;
    text-shadow: 2px 4px 3px 4px rgba(0,0,0,0.2);
}